
  <div class="circle1 d-flex">
      <div class="userInfos d-flex flex-column text-center align-items-center">
          <img src="../../assets/images/logo.jpg" style="width:70px;height:70px" alt="social-network-logo">
          <span class="namesSpan">Jean Dupont</span>
          <span class="jobSpan">Profession recherchée</span>
          <span class="otherInfosSpan mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, aliquam reprehenderit exercitationem ea veniam delectus numquam esse laborum nostrum tempore, debitis, minima distinctio sunt eveniet repellat nisi labore dicta sequi! D'autres infos ...</span>
      </div>
  </div>
  <div class="circle2 rounded-circle">
      <div class="circle2Cont text-center d-flex flex-column align-items-center">
          <h3>Mon réseau</h3>
          <p>Nombre de connexions : <span class="bold">156</span></p>
          <ul class="d-flex mt-3 sideNavBarUl">
              <li class="d-flex flex-column align-items-center">
                  <img src="../../assets/images/logo.jpg" style="width:40px;height:40px" alt="social-network-logo">
                  <span>Nom Prénom</span>
              </li>
              <li class="d-flex flex-column align-items-center">
                  <img src="../../assets/images/logo.jpg" style="width:40px;height:40px" alt="social-network-logo">
                  <span>Nom Prénom</span>
              </li>
              <li class="d-flex flex-column align-items-center">
                  <img src="../../assets/images/logo.jpg" style="width:40px;height:40px" alt="social-network-logo">
                  <span>Nom Prénom</span>
              </li>
              <li class="d-flex flex-column align-items-center">
                  <img src="../../assets/images/logo.jpg" style="width:40px;height:40px" alt="social-network-logo">
                  <span>Nom Prénom</span>
              </li>
          </ul>
          <button type="button" class="btn btn-primary mt-3" style="max-width:250px">Voir tout mon réseau</button>
      </div>
  </div>
  <div class="circle3 rounded-circle">
      <div class="circle3Cont text-center d-flex flex-column align-items-center">
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsam, laboriosam maiores laborum quaerat, minus iste iure.</span>
      </div>
  </div>
